# This config file can be dropped into the same directory as orc-nightly.sh or into /etc.
# The config file will be sourced by the orc-nightly script and can be used to override 
# some default values in the script.
# The most useful values are (along with their current defaults) are below.
# Note that for the boolean values, any non-null value is considered "true".

# Which version(s) the script should offer to download/update
# VERSIONS=(HEAD GW TS-9)

# Where to download the updates from
# DEFAULT_SOURCE_HOST=scp.orcsoftware.com

# Which build to retrieve by default
# DEFAULT_BUILD=TS-9

# Whether to retrieve the latest available or the latest successful build (usually the same)
# DEFAULT_LATEST_SUCCESS=L

# Whether to retrieve the apps folder containing Orc.app and Sauron.app
# BOOL
# EXCLUDE_APPS=""

# Whether to retrieve the distrib folder containing Orc Monitor
# BOOL
# EXCLUDE_DISTRIB=""

# Whether to retrieve the PDF documentation
# BOOL
# EXCLUDE_PDF=""

# Whether to retrieve Windows apps (.exe & .dll)
# BOOL
# EXCLUDE_WIN=""

# Whether to retrieve TradeMonitor
# BOOL
# INCLUDE_TRADEMONITOR=""
