activ2d
activ3d
activd
arcaequitiesd
arcaoptionsd
balance
bdmd
boxd
brokertecd
bsemmtsd
*burgundy*
caneqd
cboecmid
cboecmimdd
cboed
cbsxd
cfecmid
cfed
cmecd
cmed
cmeeqd
cmefid
cmefxd
difxgwd
espeedgwd
*eurex*
eurexd.b
eurexd.s
eurexetsgwd.110
eurexetsgwd.120
euronextd
euwaxd
fastinstr
fastmd
fixgwd
fixoutd
flexd
flex_simulator
fortsd
gamstdd
gamstdd-24001
hfd
hksed
*Ifx*
interactived
ised_osi_dump
ised.r13
*itch*
itchchixcanadad
itchchixd
itchomegad
krxd
libACE*
libalphagw.so
libchipolino.so
libdifxgw.so
libemapi_turquoise.so
libESPD.so
libespeedgw.so
libhsvfgw.so
libitchgw.so
liblsemdgw.so
libmgf.so
libmpgw.so
libNBRFIX.a
libneuroitchgw.so
libsailgw.so
libsfc.so
libswxmdigw.so
libturquoisegw.so
libxetraetsgw.so
liffeamsterdamd.10
liffebrusselsd.10
liffed.10
liffelisbond.10
liffeparisd.10
lild.10
mefffixd
micexd
neuroitchgwd
neuroitch_unittest
ngmd
nymexd
nyseamexoptionsd
nyseliffeusd.10
odfd
odf_simulator
omd.174
omd.180_03
omd.181_01
omd.181_02_10
omd.190_02
omd.191_01
omd.193_02
omd.193_03
onechicagocmid
onechicagod
osed
ose_test
*ouch*
pcqetix
puretradingd
saxessd.500
setsd.BP2
setsd.TR2
sfcd
sfed
sibed
sibed.x51
stunnel
swxmdigwd
swxvd.migration
swxvd.noCTI
tdexd
tfxd
tfxld
tokyofed
tokyosed
tsed
tsevd
tsid
tsx_order_compact
tsx_order_dump
turquoisegwd
udpcollect
usoptionsd
*utpdirect*
*xetra*
xetraebsd
xqsd
zsed
